/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPI_SCK, 2, 1)>,  /* P2.01 - SCK */
                    <NRF_PSEL(SPI_MOSI, 2, 2)>, /* P2.02 - MOSI */
                    <NRF_PSEL(SPI_MISO, 2, 3)>; /* P2.03 - MISO */
        };
    };
    spi1_cs: spi1_cs {
        group2 {
            psels = <NRF_PSEL(GPIO, 2, 4)>; /* P2.04 - CS */
        };
    };
};

&led0 {
        gpios = <&egpio 9 GPIO_ACTIVE_HIGH>;
};

&spi1 {
    status = "okay";
    sck-pin = <10>;
    mosi-pin = <11>;
    miso-pin = <12>;
    cs-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
};

&spi1 {
     my_spi_device: accelerometer@0 {
             compatible = "adi,adxl367";
             label = "heartbeats";
             reg = <0>;

             /* Configure other ADXL367 properties as needed.
             spi-max-frequency = <8000000>;
             duplex = <0>; /* full duplex */
             frame-format = <0>; /* Motorola frames */
             spi-cpol = <false>;
             spi-cpha = <false>;
             spi-hold-cs = <false>;
             odr = <2>; /* ODR: 50 Hz */
             int1-gpios = <&gpio2 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; /* P2.05 interrupt */
     };
};
