/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

//  &pinctrl {
//     spi21_default: spi21_default {
//         group1 {
//             psels = <NRF_PSEL(SPIM_SCK, 1, 11)>,
//                     <NRF_PSEL(SPIM_MOSI, 1, 13)>,
//                     <NRF_PSEL(SPIM_MISO, 1, 14)>;
//         };
//     };
//     spi21_sleep: spi21_sleep {
//         group1 {
//             psels = <NRF_PSEL(SPIM_SCK, 1, 11)>,  /* P2.01 - SCK */
//                     <NRF_PSEL(SPIM_MOSI, 1, 13)>, /* P2.02 - MOSI */
//                     <NRF_PSEL(SPIM_MISO, 1, 14)>; /* P2.03 - MISO */
//             low-power-enable;
//         };
//     };
//     /omit-if-no-ref/ i2c22_default: i2c22_default {
//         group1 {
//             psels = <NRF_PSEL(TWIM_SCL, 1, 11)>,
//                     <NRF_PSEL(TWIM_SDA, 1, 12)>;
//         };
//     };
//     /omit-if-no-ref/ i2c22_sleep: i2c22_sleep {
//         group1 {
//             psels = <NRF_PSEL(TWIM_SCL, 1, 11)>,
//                     <NRF_PSEL(TWIM_SDA, 1, 12)>;
//             low-power-enable;
//         };
//     };
// };


/* STEP 2.2 - Change the pin configuration */

/*  */
&pinctrl {
	spi21_default: spi21_default {
		group1 {
				psels = <NRF_PSEL(SPIM_SCK, 1, 11)>, 
						<NRF_PSEL(SPIM_MOSI, 1, 13)>,
						<NRF_PSEL(SPIM_MISO, 1, 14)>;
		};
	};

	spi21_sleep: spi21_sleep {
		group1 {
				psels = <NRF_PSEL(SPIM_SCK, 1, 11)>,
						<NRF_PSEL(SPIM_MOSI, 1, 13)>,
						<NRF_PSEL(SPIM_MISO, 1, 14)>;
				low-power-enable;
		};
	};
};

&led0 {
    status = "okay";
    gpios = <&gpio1 2 0>;
};

&spi21 { 
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi21_default>;
    pinctrl-1 = <&spi21_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
    adxl367: adxl367@0 {
             compatible = "adi,adxl367";
             label = "adxl367";
             reg = <0>;
             /* Configure other ADXL367 properties as needed. */
             spi-max-frequency = <DT_FREQ_M(2)>;
            //  duplex = <0>; /* full duplex */
            //  frame-format = <0>; /* Motorola frames */
            //  spi-hold-cs;
            //  odr = <2>; /* ODR: 50 Hz */
            //  int1-gpios = <&gpio2 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; /* P1.12 interrupt */
             status = "okay";
     };
};

// &i2c22 {
//     compatible = "nordic,nrf-twim";
//     status = "disabled";
//     clock-frequency = <I2C_BITRATE_FAST>;
//     pinctrl-0 = <&i2c22_default>;
//     pinctrl-1 = <&i2c22_sleep>;
//     pinctrl-names = "default", "sleep";
// };

// &spi00 { 
//     status = "okay";
//     wakeup-source;
//     pinctrl-0 = <&spi00_default>;
//     pinctrl-1 = <&spi00_sleep>;
//     pinctrl-names = "default", "sleep";
//     cs-gpios = <&gpio2 5 GPIO_ACTIVE_LOW>,
//                <&gpio2 10 GPIO_ACTIVE_LOW>;
//      adxl367: adxl367@1 {
//              compatible = "adi,adxl367";
//              label = "heartbeats";
//              reg = <1>;

//              /* Configure other ADXL367 properties as needed. */
//              spi-max-frequency = <8000000>;
//              duplex = <0>; /* full duplex */
//              frame-format = <0>; /* Motorola frames */
//              spi-hold-cs;
//              odr = <2>; /* ODR: 50 Hz */
//              int1-gpios = <&gpio2 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; /* P2.05 interrupt */
//      };
// };

// /delete-node/ &{/pin-controller/pwm20_default/group1/};
// /delete-node/ &{/pin-controller/pwm20_sleep/group1/};
// /delete-node/ &{/leds/led_3/};
// /delete-node/ &{/buttons/button_0/};
// / {
//     aliases {
//         /delete-property/ led3;
//         /delete-property/ sw0;
//     };
    
// };

// &led3 {
//     /delete-property/ gpios;
// };

// &button0 {
//     /delete-property/ gpios;
// };
