/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

 
/ {
	aliases {
		stream = &adxl367;
	};
};

&pinctrl {
	spi21_default: spi21_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 11)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 12)>, 
                    <NRF_PSEL(SPIM_MISO, 1, 13)>;
		};
	};

	spi21_sleep: spi21_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 1, 11)>,
					<NRF_PSEL(SPIM_MOSI, 1, 12)>,
					<NRF_PSEL(SPIM_MISO, 1, 13)>;
            low-power-enable;
		};
	};
};

&led0 {
    status = "disabled";
    gpios = <&gpio1 2 0>;
};

&spi21 { 
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi21_default>;
    pinctrl-1 = <&spi21_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
    adxl367: adxl367@0 {
            compatible = "adi,adxl367";
            label = "adxl367";
            reg = <0>;
            /* Configure other ADXL367 properties as needed. */
            spi-max-frequency = <DT_FREQ_M(1)>;
            odr = <5>; /* ODR: 50 Hz */
            int1-gpios = <&gpio1 9 (GPIO_ACTIVE_HIGH)>; /* P1.09 interrupt */
     };
};

&button0 {status = "disabled";};
&button1 {status = "disabled";};
&button2 {status = "disabled";};
&button3 {status = "disabled";};
&led1 {status = "disabled";};
&led2 {status = "disabled";};
&led3 {status = "disabled";};

//&uart20 {status = "disabled";};
//&uart21 {status = "disabled";};

/delete-node/ &{/pin-controller/pwm20_default/group1/};
/delete-node/ &{/pin-controller/pwm20_sleep/group1/};